**/node_modules/
**/dist/
**/build/
**/.env
**/.env.local
**/.env.*.local

# Ignore Redis data directories
server/redis-cluster/*/data/

# Ignore specific Redis dump files
server/redis-cluster/*/data/dump.rdb